extends ../layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li Nome: #{beer.name}
    li Preço: #{beer.price}
    li Alcool: #{beer.alcohol}
    li Categoria: #{beer.category}
    li Descrição: #{beer.description}

